.members-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.search-container {
    margin-top: 20px;
}

.search-container h2 {
    margin-bottom: 10px;
}

.search-container label {
    margin-right: 10px;
}

.message  {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

button {
    margin-top: 10px;
}
